# Neural Nets

In [12]:
import numpy as np 
import pandas as pd
import seaborn as sns

In [20]:
train = pd.read_csv('../Base de Datos/trainset-sin-id.csv')
test = pd.read_csv('../Base de Datos/testset-sin-id.csv')
train.head()

,id,t_key,t_mode,t_dur,t_dance,t_energy,t_speech,t_acous,t_ins,t_live,t_val,t_tempo,popularity,ClasePopularidad
0,146790,2.217079,0.0,139.731754,0.869118,0.519249,0.029225,0.319573,0.002967,0.091678,0.188732,26.457350,34.0,2
1,142735,4.304625,0.0,140.968235,1.910310,0.769341,0.067253,0.023262,0.000000,0.052209,0.663667,23.141670,2.0,1
2,971,4.304625,1.0,109.520199,0.977668,0.253525,0.026992,0.364818,0.001985,0.074177,0.444230,29.855429,62.0,4
3,61341,3.828397,1.0,75.954996,1.509001,0.931646,0.106186,0.139922,0.000000,0.120665,0.491329,31.462427,19.0,1
4,153359,3.828397,1.0,91.244236,1.555391,0.545826,0.035371,0.251469,0.149262,0.083623,0.272233,34.090480,43.0,3

In [21]:
test.head()

,id,t_key,t_mode,t_dur,t_dance,t_energy,t_speech,t_acous,t_ins,t_live,t_val,t_tempo,popularity,ClasePopularidad
0,116295,3.873489,1.0,102.077434,1.136005,0.652068,0.038806,0.245297,0.000004,0.061371,0.313870,20.325737,56.0,3
1,101223,1.595405,1.0,163.222452,1.559666,1.375892,0.090603,0.000999,0.144474,0.079899,0.237952,32.519312,22.0,2
2,47928,4.359420,1.0,113.531853,1.593801,1.504156,0.052763,0.030623,0.005559,0.070192,0.776168,26.369467,22.0,2
3,88722,3.873489,1.0,96.792061,1.289259,1.595320,0.048714,0.151174,0.000000,0.034878,0.862629,32.618254,50.0,3
4,111363,4.359420,0.0,102.640817,1.814995,1.031562,0.036711,0.015053,0.000002,0.089617,0.838169,25.157347,35.0,2

In [22]:
print(train.shape, test.shape)

(55543, 14) (13920, 14)

In [23]:
train.set_index('id', inplace = True)
test.set_index('id', inplace = True)

In [24]:
print(train.shape, test.shape)

(55543, 13) (13920, 13)

In [28]:
train.head()

,t_key,t_mode,t_dur,t_dance,t_energy,t_speech,t_acous,t_ins,t_live,t_val,t_tempo,popularity,ClasePopularidad
id,,,,,,,,,,,,,
146790,2.217079,0.0,139.731754,0.869118,0.519249,0.029225,0.319573,0.002967,0.091678,0.188732,26.457350,34.0,2
142735,4.304625,0.0,140.968235,1.910310,0.769341,0.067253,0.023262,0.000000,0.052209,0.663667,23.141670,2.0,1
971,4.304625,1.0,109.520199,0.977668,0.253525,0.026992,0.364818,0.001985,0.074177,0.444230,29.855429,62.0,4
61341,3.828397,1.0,75.954996,1.509001,0.931646,0.106186,0.139922,0.000000,0.120665,0.491329,31.462427,19.0,1
153359,3.828397,1.0,91.244236,1.555391,0.545826,0.035371,0.251469,0.149262,0.083623,0.272233,34.090480,43.0,3

In [29]:
test.head()

,t_key,t_mode,t_dur,t_dance,t_energy,t_speech,t_acous,t_ins,t_live,t_val,t_tempo,popularity,ClasePopularidad
id,,,,,,,,,,,,,
116295,3.873489,1.0,102.077434,1.136005,0.652068,0.038806,0.245297,0.000004,0.061371,0.313870,20.325737,56.0,3
101223,1.595405,1.0,163.222452,1.559666,1.375892,0.090603,0.000999,0.144474,0.079899,0.237952,32.519312,22.0,2
47928,4.359420,1.0,113.531853,1.593801,1.504156,0.052763,0.030623,0.005559,0.070192,0.776168,26.369467,22.0,2
88722,3.873489,1.0,96.792061,1.289259,1.595320,0.048714,0.151174,0.000000,0.034878,0.862629,32.618254,50.0,3
111363,4.359420,0.0,102.640817,1.814995,1.031562,0.036711,0.015053,0.000002,0.089617,0.838169,25.157347,35.0,2

## Initialize the Neural Net